<h1>
    Main Menu
</h1>


<a href="http://localhost:3004/employees">Employees</a>

<br /><br />

<a href="http://localhost:3004/departments">Departments</a>
<br /><br />
<a href="http://localhost:3004/EmployeesMongo">Mongo Employees</a>